body{
    background: #1e003d;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}

.flexcontainer1{ /* Hacemos uso de flexbox indicando el contenedor */
    background: black;
    padding: 20 px;
    display: flex; /* En lugar de utilizar la regla float, podemos usar display a través de flexbox */
    flex-direction: row; /* Se ubican los elementos en forma horizontal (row) o vertical (column)*/
    flex-wrap: wrap; /* Permite que el contenedor se pueda expandir si se acumulan muchos elementos */
    margin: 0px auto; /* Se centra el contenedor */
}

.box{
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 20px;
}

